<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>$(PRODUCT_NAME) needs photo library permissions</string>

	<key>NSFaceIDUsageDescription</key>
	<string>We need access to Face ID for secure authentication</string>
	<key>NSUserNotificationUsageDescription</key>
	<string>We use notifications to keep you updated with important information.</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Pocket Voucher</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>This app needs access to Apple Music to help you find and play music.</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>This app requires Bluetooth to connect with nearby devices for enhanced functionality.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>This app needs access to your calendar to help you schedule events.</string>
	<key>NSContactsUsageDescription</key>
	<string>This app needs access to your contacts for personalized messaging and sharing.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This app needs location access to provide location-based services and recommendations.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app needs access to your location while in use to provide location-specific features.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app needs microphone access for audio features and voice recording.</string>
	<key>NSMotionUsageDescription</key>
	<string>This app needs access to motion data to enhance user experience based on device movement.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app needs access to your photo library to allow you to upload and share photos.</string>
	<key>NSSiriUsageDescription</key>
	<string>This app needs access to Siri for voice command integration.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>This app needs access to speech recognition to enable voice commands.</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
